<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小游戏</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <div id="score"></div>
        <canvas id="game" width="375" height="375"></canvas>
        <div id="introduction">点击屏幕伸出一根长棍</div>
        <div id="perfect">漂亮</div>
        <button id="restart">重新开始</button>
      </div>
      <script src="index.js"></script>
</body>
</html>