<html>
	<head>
		<meta charset="utf-8">
		<title>添加数据</title>
		<link rel="stylesheet" href="../../static/css/layui.css">
		<link rel="stylesheet" href="../../static/css/index.css">
	    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
        <script src="../../static/layui.js"></script>
    </head>
	<body>
		<div class="box">
			<div class="box_head clearflex">
				<ul class="layui-nav" lay-filter="">
				  <li class="layui-nav-item"><a href="{% url 'index' %}">首页</a></li>
				  <li class="layui-nav-item layui-this"><a href="{% url 'add' %}">添加商品</a></li>
				  <li class="layui-nav-item"><a href="{% url 'query' %}">查询商品</a></li>
				  <li class="layui-nav-item"><a href="{% url 'users:attention' %}">我的关注</a></li>
				  <li class="layui-nav-item"><a href="{% url 'users:center' %}">个人信息</a></li>
				</ul>
			</div>
			<div class="banner">
				<div class="layui-carousel" id="test1">
				  <div carousel-item>
				    <div><img src="../../static/img/3.png" alt="" width="100%"></div>
				    <div><img src="../../static/img/3.png" alt="" width="100%"></div>
				    <div><img src="../../static/img/3.png" alt="" width="100%"></div>
				    <div><img src="../../static/img/3.png" alt="" width="100%"></div>
				    <div><img src="../../static/img/3.png" alt="" width="100%"></div>
				  </div>
				</div>
			</div>
			<div class="input">
                {% if user.is_authenticated %}
				    <form action="" class="layui-form" method="post">
                        {% csrf_token %}
					    <div class="layui-form-item">
					        <label class="layui-form-label">商品ID</label>
						    <div class="layui-input-block">
							<input type="text" name="jd_id" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
					    </div>
					</div>
					<div class="layui-form-item">
					    <div class="layui-input-block">
					      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
					      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
					    </div>
					</div>
				</form>
                <p>商品名：{{ title }}</p>
                <p>价格：{{ price }}</p>
                {% else %}
                    <p>你还没有登录，请
                    <button class="btn btn-default"><a href="{% url 'login' %}?next={{ request.path }}">登录</a></button>
                    或者
                    <button class="btn btn-default"><a href="{% url 'users:register' %}">注册</a></button>
                </p>
                {% endif %}
			</div>
		</div>
		<script>
            //Django消息弹窗
            {% if messages %}
                {% for msg in messages %}
                    alert('{{ msg.message }}');
                {% endfor %}
            {% endif %}
            //加载element
			layui.use('element', function(){
			  var element = layui.element;
				
			  //…
			});
            //加载carousel
			layui.use('carousel', function(){
			  var carousel = layui.carousel;
			  //建造实例
			  carousel.render({
			    elem: '#test1'
			    ,width: '100%' //设置容器宽度
			    ,arrow: 'always' //始终显示箭头
			    //,anim: 'updown' //切换动画方式
			  });
			});
		</script> 
	</body>
	
</html>