<html>
	<head>
		<meta charset="utf-8">
		<title>个人信息</title>
		<link rel="stylesheet" href="../../static/css/layui.css">
		<link rel="stylesheet" href="../../static/css/index.css">
        <link rel="stylesheet" href="../../static/css/mobi.css">
	</head>
	<body>
		<div class="box">
			<div class="box_head clearflex">
				<ul class="layui-nav" lay-filter="">
					<li class="layui-nav-item"><a href="{% url 'index' %}"><i class="layui-icon layui-icon-home"></i>&nbsp;&nbsp;首页</a></li>
				    <li class="layui-nav-item"><a href="{% url 'add' %}"><i class="layui-icon layui-icon-add-1"></i>&nbsp;&nbsp;添加商品</a></li>
					<li class="layui-nav-item"><a href="{% url 'query' %}"><i class="layui-icon layui-icon-search"></i>&nbsp;&nbsp;查询商品</a></li>
                    <li class="layui-nav-item"><a href="{% url 'users:attention' %}"><i class="layui-icon layui-icon-rate"></i>&nbsp;&nbsp;我的关注</a></li>

                     <li class="layui-nav-item">
                        <a href="javascript:;">&nbsp;&nbsp;我的<img src="../../static/img/森罗.jpg" class="toux clearflex"></a>

                        <dl class="layui-nav-child"> <!-- 二级菜单 -->
                            <dd><a href="{% url 'login' %}?next={{ request.path }}"><i class="layui-icon layui-icon-release"></i>&nbsp;&nbsp;用户登陆</a></dd>
                            <dd><a href="http://127.0.0.1:8000/admin/"><i class="layui-icon layui-icon-console"></i>&nbsp;&nbsp;管理员登陆</a></dd>
                            <dd><a href="{% url 'users:center' %}"><i class="layui-icon layui-icon-username"></i>&nbsp;&nbsp;个人信息</a></dd>
                            <dd><a href="{% url 'logout' %}?next={{ request.path }}"><i class="layui-icon layui-icon-close"></i>&nbsp;&nbsp;登出</a></dd>
                        </dl>
                    </li>
				</ul>
			</div>
			<div class="banner">
				<div class="layui-carousel" id="test1">
					<div carousel-item>
						<div><img src="../../static/img/banner1.png" alt="" width="100%"></div>
						<div><img src="../../static/img/banner2.jpg" alt="" width="100%"></div>
						<div><img src="../../static/img/banner3.jpg" alt="" width="100%"></div>
						<div><img src="../../static/img/banner4.jpg" alt="" width="100%"></div>
						<div><img src="../../static/img/banner5.jpg" alt="" width="100%"></div>
					</div>
				</div>
			</div>
			<div class="container">
                <div>
                    {% if user.is_authenticated %}
                        <p>你已登录，欢迎你：<a href="#">{{ user.username }}</a></p>
                        <button class="btn btn-default"><a href="{% url 'logout' %}?next={{ request.path }}">注销登录</a></button>
                        <button class="btn btn-default"><a href="{% url 'password_change' %}?next={{ request.path }}">修改密码</a></button>
                    {% else %}
                        <p>你还没有登录，请
                        <button class="btn btn-default"><a href="{% url 'login' %}?next={{ request.path }}">登录</a></button>
                        或者
                        <button class="btn btn-default"><a href="{% url 'users:register' %}">注册</a></button>
                    </p>
                    {% endif %}
                </div>
        </div>
        </div>
		<script src="../../static/layui.js"></script>
		<script>
            //Django消息弹窗
            {% if messages %}
                {% for msg in messages %}
                    alert('{{ msg.message }}');
                {% endfor %}
            {% endif %}
            //加载element
			layui.use('element', function(){
			  var element = layui.element;

			  //…
			});
            //加载carousel
			layui.use('carousel', function(){
			  var carousel = layui.carousel;
			  //建造实例
			  carousel.render({
			    elem: '#test1'
			    ,width: '100%' //设置容器宽度
			    ,arrow: 'always' //始终显示箭头
			    //,anim: 'updown' //切换动画方式
			  });
			});
		</script>
	</body>

</html>