<html>
	<head>
		<meta charset="utf-8">
		<title>首页</title>

		<link rel="stylesheet" href="../../static/css/layui.css">
		<link rel="stylesheet" href="../../static/css/index.css">
        <link rel="stylesheet" href="../../static/css/mobi.css">
        <link rel="stylesheet" href="../../static/css/table.css">
		<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.min.js"></script>

		<script src="../../static/layui.js"></script>
	</head>
	<body>
		<div class="box">
			<div class="box_head clearflex">
				<ul class="layui-nav" lay-filter="">
					<li class="layui-nav-item"><a href="{% url 'index' %}"><i class="layui-icon layui-icon-home"></i>&nbsp;&nbsp;首页</a></li>
				    <li class="layui-nav-item"><a href="{% url 'add' %}"><i class="layui-icon layui-icon-add-1"></i>&nbsp;&nbsp;添加商品</a></li>
					<li class="layui-nav-item"><a href="{% url 'query' %}"><i class="layui-icon layui-icon-search"></i>&nbsp;&nbsp;查询商品</a></li>
                    <li class="layui-nav-item layui-this"><a href="{% url 'users:attention' %}"><i class="layui-icon layui-icon-rate"></i>&nbsp;&nbsp;我的关注</a></li>

                     <li class="layui-nav-item">
                        <a href="javascript:;">&nbsp;&nbsp;我的<img src="../../static/img/森罗.jpg" class="toux clearflex"></a>

                        <dl class="layui-nav-child"> <!-- 二级菜单 -->
                            <dd><a href="{% url 'login' %}?next={{ request.path }}"><i class="layui-icon layui-icon-release"></i>&nbsp;&nbsp;用户登陆</a></dd>
                            <dd><a href="http://127.0.0.1:8000/admin/"><i class="layui-icon layui-icon-console"></i>&nbsp;&nbsp;管理员登陆</a></dd>
                            <dd><a href="{% url 'users:center' %}"><i class="layui-icon layui-icon-username"></i>&nbsp;&nbsp;个人信息</a></dd>
                            <dd><a href="{% url 'logout' %}?next={{ request.path }}"><i class="layui-icon layui-icon-close"></i>&nbsp;&nbsp;登出</a></dd>
                        </dl>
                    </li>
				</ul>
			</div>
			<div class="banner">
				<div class="layui-carousel" id="test1">
					<div carousel-item>
						<div><img src="../../static/img/banner1.png" alt="" width="100%"></div>
						<div><img src="../../static/img/banner2.jpg" alt="" width="100%"></div>
						<div><img src="../../static/img/banner3.jpg" alt="" width="100%"></div>
						<div><img src="../../static/img/banner4.jpg" alt="" width="100%"></div>
						<div><img src="../../static/img/banner5.jpg" alt="" width="100%"></div>
					</div>
				</div>
			</div>
			<div class="mian">
                {% if user.is_authenticated %}
                    <div>你已登录，欢迎你：<a href="{% url 'users:center' %}">{{ user.username }}</a>
                        <button>
                            <a href="{% url 'cron_task' %}">更新全部订阅</a>
                        </button>
                    </div>

                    <table class="layui-table" lay-filter="table_zh">
                        <thead>
                            <tr class="th-tr">
{#                                <th lay-data="{field:'id',width:'20%',align:'center'}">商品ID</th>#}
                                <th lay-data="{field:'title',width:'15%',align:'center'}">商品ID</th>
                                <th lay-data="{field:'jiage',width:'60%',sort:true,align:'center'}">商品名称</th>
                                <th lay-data="{field:'caozuo',width:'25%',align:'center'}">操作</th>
                            </tr>
                        </thead>
                        {% for x,y in all_data.items %}
                            <tr role="row">
                                <td>{{ y }}</td>
                                <td>{{ x }}</td>
                                <td>
                                    <form action="{% url 'users:details' %}" method="post">
                                        {% csrf_token %}
                                        <input name="id" style="display: none" type="text" value="{{ y }}">
                                        <input type="submit" value="查看详情" class="layui-btn layui-btn-sm layui-btn" name="details_bt">
                                        <input type="submit" value="更新订阅" class="layui-btn layui-btn-sm layui-btn-normal">
                                        <input type="submit" value="取消关注" class="layui-btn layui-btn-sm layui-btn-danger" name="del_bt">
                                    </form>
                                </td>

                            </tr>
                        {% endfor %}
                    </table>

                {% else %}
                    <p>你还没有登录，请
                        <button class="btn btn-default">
                            <a href="{% url 'login' %}?next={{ request.path }}">登录</a>
                        </button>或者
                        <button class="btn btn-default">
                            <a href="{% url 'users:register' %}">注册</a>
                        </button>
                    </p>
                {% endif %}
			</div>
		</div>
	</body>
    <script>
        //加载element
        layui.use('element', function(){
            var element = layui.element;
        });
        //加载carousel
        layui.use('carousel', function(){
            var carousel = layui.carousel;
            //建造实例
            carousel.render({
			    elem: '#test1'
			    ,width: '100%' //设置容器宽度
			    ,arrow: 'always' //始终显示箭头
			    //,anim: 'updown' //切换动画方式
			  });
			});
        var table = layui.table;
        //转换静态表格
        table.init('table_zh', {
            limit: 10 //默认采用10
            ,page: true ,//开启分页
            //支持所有基础参数

        });
    </script>
</html>
