<html>
	<head>
		<meta charset="utf-8">
		<title>首页</title>
		<link rel="stylesheet" href="../../static/css/layui.css">
		<link rel="stylesheet" href="../../static/css/index.css">
        <link rel="stylesheet" href="../../static/css/table.css">
		<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
		<script src="../../static/layui.js"></script>
	</head>
	<body>
		<div class="box">
			<div class="box_head clearflex">
				<ul class="layui-nav" lay-filter="">
					<li class="layui-nav-item"><a href="{% url 'index' %}">首页</a></li>
				    <li class="layui-nav-item"><a href="{% url 'add' %}">添加商品</a></li>
					<li class="layui-nav-item"><a href="{% url 'query' %}">查询商品</a></li>
					<li class="layui-nav-item layui-this"><a href="{% url 'users:attention' %}">我的关注</a></li>
					<li class="layui-nav-item"><a href="{% url 'users:center' %}">个人信息</a></li>
				</ul>
			</div>
			<div class="banner">
				<div class="layui-carousel" id="test1">
					<div carousel-item>
						<div><img src="../../static/img/3.png" alt="" width="100%"></div>
						<div><img src="../../static/img/3.png" alt="" width="100%"></div>
						<div><img src="../../static/img/3.png" alt="" width="100%"></div>
						<div><img src="../../static/img/3.png" alt="" width="100%"></div>
						<div><img src="../../static/img/3.png" alt="" width="100%"></div>
					</div>
				</div>
			</div>
			<div class="mian">
                {% if user.is_authenticated %}
                    <p>你已登录，欢迎你：<a href="{% url 'users:center' %}">{{ user.username }}</a></p>
                    <table class="layui-table" lay-filter="table_zh">
                        <thead>
                            <tr class="th-tr">
                                <th lay-data="{field:'title',width:'700'}">关注的商品</th>
                                <th lay-data="{field:'jiage',width:'95',sort:true}">价格</th>
                                <th lay-data="{field:'caozuo',width:'200'}">操作</th>
                            </tr>
                        </thead>
                        {% for x in all_data %}
                            <tr role="row">
                                <td><a>{{ x }}</a></td>
                                <td>9999</td>
                                <td>
                                    <form action="{% url 'users:attention' %}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" value="取消关注" class="layui-btn layui-btn-sm layui-btn-danger">
                                    </form>
                                </td>

                            </tr>
                        {% endfor %}
                    </table>

                {% else %}
                    <p>你还没有登录，请<button class="btn btn-default"><a href="{% url 'login' %}?next={{ request.path }}">登录</a></button>或者<button class="btn btn-default"><a href="{% url 'users:register' %}">注册</a></button>
                    </p>
                {% endif %}
			</div>
		</div>
	</body>
    <script>
        //加载element
        layui.use('element', function(){
            var element = layui.element;
        });
        //加载carousel
        layui.use('carousel', function(){
            var carousel = layui.carousel;
            //建造实例
            carousel.render({
			    elem: '#test1'
			    ,width: '100%' //设置容器宽度
			    ,arrow: 'always' //始终显示箭头
			    //,anim: 'updown' //切换动画方式
			  });
			});
        var table = layui.table;
        //转换静态表格
        table.init('table_zh', {
            limit: 5
            ,page: true //开启分页
            //支持所有基础参数
        });
    </script>
</html>
